<h3>Dashboard</h3>


<form class="form new-create-form">
    <h5>Edit Post</h5>
    <div class="form-group">
        <label for="project-name">Title:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
    </div>
    <div class="form-group">
        <label for="project-desc">Content:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Update Post</button>
        <button type="submit" class="btn btn-primary">Delete</button>
    </div>
</form>
</div>


<script src="./js/dashboard.js"></script>